Company[[:space:]]Assets/**/*.psd filter=lfs diff=lfs merge=lfs -text
Company[[:space:]]Assets/**/*.zip filter=lfs diff=lfs merge=lfs -text
Company[[:space:]]Assets/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
